<mat-menu #profileMenu>
    <button mat-menu-item>Profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Views</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/cases" routerLinkActive="active-link">Cases</a>
      <a mat-list-item routerLink="/clients" routerLinkActive="active-link">Clients</a>
      <a mat-list-item routerLink="/documents" routerLinkActive="active-link">Documents</a>
      <a mat-list-item routerLink="/users" routerLinkActive="active-link">Users</a>
      <a mat-list-item routerLink="/lists" routerLinkActive="active-link">Lists</a>
      <a mat-list-item routerLink="/categories" routerLinkActive="active-link">Categories</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="!(isHandset$ | async)">{{systemName}} Playground</span>
      <span *ngIf="(isHandset$ | async)">{{systemName}}</span>
      <span class="spacer"></span>
      <span *ngIf="!(isHandset$ | async)">{{username}} &nbsp;&nbsp;</span>
      <button *ngIf="!(isHandset$ | async)" mat-stroked-button (click)="logout()">Logout</button>
      <button *ngIf="(isHandset$ | async)" mat-icon-button [matMenuTriggerFor]="profileMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
