<div class="row">
    <div class="column">
        <h2>Companies</h2>
        <app-view [documentType]="1008" [loadOnDisplay]="true" [loadColumns]="['subject', 'documentNumber', 'creationDate']" [sortColumn]="'subject'"
            [sortDescending]="false"></app-view>
    </div>
    <div class="column">
        <h2>Individuals</h2>
        <app-view [documentType]="1010" [loadOnDisplay]="true" [loadColumns]="['subject']" [sortColumn]="'subject'" [sortDescending]="false"></app-view>
    </div>
</div>