<mat-card *ngIf="document && document['_type']=='CategoryType'">
  <mat-card-title>{{document.subject}}</mat-card-title>
</mat-card>


<div class="row">
  <div class="column">
    <app-view [documentType]="1013" [loadOnDisplay]="true" [loadColumns]="['subject', 'key']" sortColumn="subject"
      sortDescending="false" rowsCount="10" [customFilter]="customFilter" (select)="onSelect($event)">JOKER
    </app-view>
  </div>
  <div class="column">
    <mat-card *ngIf="document && document['_type']=='CategoryType'">
      <mat-card-title>{{document.subject}}</mat-card-title>
      <mat-card-subtitle>{{document.description}}</mat-card-subtitle>
    </mat-card>
  </div>
</div>
