<app-viewsearch [filter]="filter"></app-viewsearch>
<mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
  <!-- Subject Column -->
  <ng-container *ngFor="let column of loadColumns" matColumnDef="{{column}}">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row[column]}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="loadColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: loadColumns;"></mat-row>
</mat-table>
<mat-paginator [length]="maxRows" [pageSize]="rowsCount" showFirstLastButtons="true" (page)="changePage($event)"></mat-paginator>
<ng-template #no_results>Enter a search criteria</ng-template>