mat-table{
    height: 600px;
    overflow: auto;
}

.viewbar{
  display:flex;
  align-items: center;
}

.viewbar>span{
  padding-right:25px;
  font-size: 120%;
  font-weight: bold;
  
}

.search{
  display: flex;
  flex-direction: column;
  flex:1;
}


